@font-face {
  font-family: JetBrainsMono;
  src: url(../src/assets/fonts/JetBrainsMono-Regular.ttf);
}  

@import "tailwindcss";

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes rotate-reverse {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.animate-rotate-slow {
  animation: rotate 10s linear infinite;
}
.animate-rotate-reverse {
  animation: rotate-reverse 10s linear infinite;
}
.glow {
  box-shadow: 0 0 20px 5px rgba(34, 255, 140, 0.3);
}

*{
  box-sizing: border-box;
}


:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1B22;
}  

